@font-face {
  font-family: "SF Pro Display Bold";
  font-style: normal;
  font-weight: normal;
  src: local("SF Pro Display Bold"), url("SFPRODISPLAYBOLD.woff") format("woff");
}
@font-face {
  font-family: "SF Pro Display Regular";
  font-style: normal;
  font-weight: normal;
  src: local("SF Pro Display Regular"),
    url("SFPRODISPLAYREGULAR.woff") format("woff");
}

$containerbackgroundcolor: #000;
$groupbackgroundcolor: #262626;
$itembackgroundcolor: #307fe2;
$white: #fff;
$soon: #6a6dcd;
$red: #d93535;
$grey: #f3f3f3;
$ready: #00a88b;
@mixin flexible() {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@mixin border-radius($radius) {
  // Префиксы для:
  -webkit-border-radius: $radius; // Chrome и Safari
  -moz-border-radius: $radius; // Firefox
  -ms-border-radius: $radius; // Internet Explorer
  -o-border-radius: $radius; // Opera
  border-radius: $radius; // Стандартный CSS
}
@mixin column-header() {
  font-style: normal;
  font-weight: bold;
  font-size: 37px;
  line-height: 44px;

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  margin-bottom: 8px;
}
a {
  &:hover {
    cursor: pointer;
  }
}
body {
  color: $white;
  font-family: "SF Pro Display Regular";
  letter-spacing: 0.04em;
  box-sizing: border-box;
  background: $containerbackgroundcolor;
}
.header {
  @include flexible();
  flex-direction: row;
  width: 100%;
  padding: 24px 24px 38px 48px;
}
.filter {
  position: absolute;
  top: 30px;
  right: 40px;
  z-index: -1;
}
.tasks-container {
  @include flexible();
  // background: $containerbackgroundcolor;
  flex-direction: row;
  align-items: stretch;
  width: 100%;
  max-width: 1544px;
  @media (max-width: 768px) {
    flex-direction: column;
  }
}
.searched-tasks-container {
  @include flexible();
  // background: $containerbackgroundcolor;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
  max-width: 1544px;
}
.searched-terms {
  width: 30%;
  @include flexible();
  align-items: center;
}
.double-row {
  @include flexible();
  justify-content: space-around;
  align-items: stretch;
  width: 100%;
  @media (max-width: 575px) {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
.group {
  @include border-radius(16px);
  background: $groupbackgroundcolor;
  background-position: left;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 12px;
  width: 100%;
  align-items: center;
  padding: 24px;
  word-break: break-all;
  @media (max-width: 575px) {
    width: 80%;
  }
}
.item-wrapper {
  width: 100%;
}
.task-item {
  margin: 8px 0;
  @include border-radius(8px);
  background-color: $itembackgroundcolor;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.12), 0px 16px 32px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px;
  cursor: pointer;
  width: 100%;
  // max-width: 368px;
}

.deadline-soon {
  background-color: $soon;
}
.deadline-off {
  background-color: $red;
}
.ready {
  background-color: $ready;
}
.task-title {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  padding-bottom: 8px;
}
.task-description {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;
  color: rgba(255, 255, 255, 0.75);
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  padding-bottom: 8px;
}

.backlog-tasks:before {
  content: "Backlog";
  @include column-header();
}
.todo-tasks {
  &:before {
    content: "To do";
    @include column-header();
  }
}
.in-progress-tasks:before {
  content: "In progress";
  @include column-header();
}
.ready-tasks:before {
  content: "Designed";
  @include column-header();
}
@mixin round-button {
  background-position: center;
  padding: 0 20px;
  width: 70px;
  height: 70px;
  color: #fff;
  margin-left: 15px;
  float: left;
  border-radius: 50%;
  position: fixed;
  opacity: 0.7;
  z-index: 5;
  border: transparent 0;
}
.search-button {
  background: $itembackgroundcolor no-repeat
    url("https://craftt.ru/images/search.png");
  @include round-button();
  bottom: 120px;
  right: 50px;
}

.add-task-button {
  background: $itembackgroundcolor no-repeat
    url("https://craftt.ru/images/post_add.png");
  @include round-button();
  bottom: 30px;
  right: 50px;
}
.row {
  @include flexible();
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  color: #000;
}

.loader {
  position: relative;
  margin: auto;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: linear-gradient(45deg, transparent, transparent 40%, #e5f403);
  animation: animate 2s linear infinite;
  &:before {
    content: "";
    position: absolute;
    top: 6px;
    left: 6px;
    right: 6px;
    bottom: 6px;
    background: $groupbackgroundcolor;
    border-radius: 50%;
    z-index: 1000;
  }
  &:after {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background: linear-gradient(45deg, transparent, transparent 40%, #e5f403);
    border-radius: 50%;
    z-index: 1000;
    z-index: 1;
    filter: blur(30px);
  }
}
@keyframes animate {
  0% {
    transform: rotate(0deg);
    filter: hue-rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    filter: hue-rotate(360deg);
  }
}
